[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
transformers = {extras = ["torch"], version = "*"}
scipy = "*"
matplotlib = "*"

[dev-packages]

[requires]
python_version = "3.8"
